.tool {
    background-color: var(--tertiary);
    padding: 5px;
    border: 1px solid var(--quinary);
    border-radius: 13px;
    margin: 5px;
    box-shadow: -1px 1px 9px 0 #724cb8;
}

@media screen and (max-width:480px){
    .tool {
        padding: 3px;
        margin: 2px;
    }
    
}