.loader-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Estilos para el círculo de carga */
.loader {
    border: 6px solid #3498db; /* Cambia el color del círculo de carga */
    border-top: 6px solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite; /* Animación de rotación */
}

/* Animación de rotación */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}