.sectionProject {
    width: 100%;
    font-family: 'Libre Baskerville', sans-serif;
}



.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/*CARD*/
.projects-container__card {
    border: 2px solid var(--quinary);
    background-color: var(--secundary);
    border-radius: 17px;
    color: black;
    width: 380px;
    min-height: 492px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    animation-name: fade-in;
    animation-duration: 1s;
}

.projects-container__card h6 {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: lighter;
    letter-spacing: 1px;
    background-color: var(--quinary);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.projects-container__card__description {
    font-style: italic;
    text-indent: 10px;
    margin: 0 5px;
    color: black;
    margin-top: 15px;
    height: 206.83px;
}

.projects-container__card__image {
    margin: 0 5px;
    padding-top: 15px;
    border-radius: 15px;
    height: 206.83px;
}


/*CARD TOOLS*/
.projects-container__card__tool-container {
    min-height: 143px;
    display: flex;
    padding-top: 7px;
    position: absolute;
    bottom: 70px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

/*CARD BUTTONS*/
.projects-container__card__button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 7px;
    position: absolute;
    bottom: 0;
    padding-bottom: 17px;
}

.projects-container__card__button-container__button_project {
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    padding: 8px 7px;
    background-color: var(--quinary);
    color: var(--primary);
    color: rgb(185, 185, 185);
    border-radius: 7px;
}

.projects-container__card__button-container__button_project:hover {
    color: white;
    box-shadow: -5px 5px 10px white;
}

/*Animations*/

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/*MEDIA QUERIES*/
@media screen and (max-width:1200px){
    .projects-container__card {
        width: 350px;
        min-height: 430px;
        margin: 20px 10px;
    }
    .projects-container__card h6 {
        font-size: 25px;
        padding: 8px 0;
    }
        .projects-container__card__description {
        margin-top: 7px;
        text-indent: 8px;
        height: 185px;

    }
    .projects-container__card__image {
        margin-top: 7px;
        height: 185px;
    }
    .projects-container__card__tool-container {
        position:static;
        min-height: 117px;
        margin-top: 5px;
        font-size: 13px;
        padding-top: 0;
    }

    .projects-container__card__button-container {
        bottom: 0;
    }
    .projects-container__card__button-container__button_project {
        color: white;
    }
    
}

@media screen and (max-width:480px){
    .projects-container {
        display: flex;
        flex-direction: column;
    }
    

    .projects-container__card {
        width: calc(100% - 20px);
        min-height: 365px;
        margin: 9px 0;
    }

    .projects-container__card h6 {
        font-size: 23px;
        padding: 8px 0;
    }

    .projects-container__card__description {
        text-indent: 8px;
        height: 170px;

    }
    .projects-container__card__image {
        height: 170px;
    }

    
    .projects-container__card__tool-container {
        margin-top: 5px;
        font-size: 13px;
        min-height: 60px;
        padding-top: 0;
    }
    

    .projects-container__card__button-container__button_project {
        color: white;
    }

}